<div class="card">
    <div class="row">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Employee Details</span>
        </div>
    </div>
<div class="container border border-dark">
<form class="border border-dark">
    <div class="row">Employee Id: 
        <div class="col">
            <input type="text" class="form-control" id="Employee_Id" placeholder="Employee Id">
        </div>
    </div>
    <div class="row">Address:
        <div class="col">
            <input type="text" class="form-control" id="AddressType" placeholder="AddressType">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="Address" placeholder="Address">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="City" placeholder="City">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="Pincode" placeholder="Pincode">
        </div>
    </div>
    <div class="row"></div>
</form>
</div>
</div>